/*
 * MARK: Colors and variables
 */

:root {
    --border-radius: 8px;
    --border-radius-lg: 16px;
    --border-radius-xl: 50px;
    --color-primary: #0d6efd;
    --color-primary-hover: #084298;
    --color-success: #198754;
    --color-success-hover: #0f5132;
    --color-info: #0dcaf0;
    --color-info-hover: #087990;
    --color-warning: #ffc107;
    --color-warning-hover: #997404;
    --color-danger: #dc3545;
    --color-danger-hover: #842029;
    --color-light: #f8f9fa;
    --color-dark: #212529;
    --color-base: #ffffff;
    --color-inverse: #3c3c3c;
    --color-muted: #6c757d;
}

body.light {
    color-scheme: light;
    --color-bg: var(--color-base);
    --color-text: var(--color-dark);
    --color-muted: rgb(from var(--color-text) r g b / 0.7);
    --color-overlay: #2125291a;
}

body.dark {
    color-scheme: dark;
    --color-bg: var(--color-inverse);
    --color-text: var(--color-light);
    --color-muted: rgb(from var(--color-text) r g b / 0.7);
    --color-overlay: #f8f9fa1a;
}

body {
    --color-ui: var(--color-bg);
    --color-ui-text: var(--color-text);
    --color-ui-muted: var(--color-text);
    --color-ui-muted: rgb(from var(--color-ui-text) r g b / 0.7);
    --color-ui-bg: oklch(from var(--color-ui) calc(l / 1.2) c h / 0.2);
    --color-ui-border: oklch(from var(--color-ui) calc(l / 1.2) c h / 0.5);
    --color-ui-hover: oklch(from var(--color-ui) calc(l / 1.2) c h / 0.3);
    --color-ui-active: oklch(from var(--color-ui) calc(l / 1.4) c h / 0.5);
}

/* 
 * MARK: General
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
    color: var(--color-ui-text);
    background-color: var(--color-ui);
    background-image: none;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden;
    user-select: none;
}

kbd {
    padding: 2px 6px;
    line-height: 1;
    border-radius: 4px;
    white-space: nowrap;
    user-select: none;
    color: var(--color-text);
    background-color: var(--color-bg);
    box-shadow: inset 0 -1px 0 var(--color-text);
    border: 1px solid var(--color-text);
}

.bold {
    font-weight: bold;
}

.hidden, [hidden] {
    display: none !important;
}

.glass {
    backdrop-filter: blur(16px) saturate(80%);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--color-overlay);
    backdrop-filter: blur(5px);
}

.main {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gap: 10vh;
}

.container {
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

/* 
 * MARK: Navigation
 */

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    background: var(--color-ui-bg);
    color: var(--color-ui-text);
    border: 1px solid var(--color-ui-border);
    border-radius: var(--border-radius-lg);
    padding: 15px 25px;
    margin-top: 30vh;
    transition: margin 0.2s;
}

/* 
 * MARK: Breadcrumbs 
 */

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 28px;
    flex-grow: 1;
    max-width: 100%;
}

.breadcrumb-item {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    transition: background 0.2s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.breadcrumb-item:hover {
    background: var(--color-ui-hover);
}

.breadcrumb-separator {
    opacity: 0.8;
}

/* 
 * MARK: Search
 */

.search-container {
    position: relative;
    max-width: 370px;
    margin: 0;
    width: auto;
}

.search-container svg {
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 16px;
    right: auto;
    width: 22px;
    height: 22px;
    pointer-events: none;
}

.search-input {
    cursor: pointer;
}

.search-input.active,
.search-input:focus {
    padding-left: 46px;
    outline: 2px solid var(--color-primary);
    width: 100%;
}

.search-input::placeholder {
    color: var(--color-ui-text);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg"><path fill="black" fill-rule="evenodd" clip-rule="evenodd" d="M11.7816 4.03157C12.0062 3.80702 12.0062 3.44295 11.7816 3.2184C11.5571 2.99385 11.193 2.99385 10.9685 3.2184L7.50005 6.68682L4.03164 3.2184C3.80708 2.99385 3.44301 2.99385 3.21846 3.2184C2.99391 3.44295 2.99391 3.80702 3.21846 4.03157L6.68688 7.49999L3.21846 10.9684C2.99391 11.193 2.99391 11.557 3.21846 11.7816C3.44301 12.0061 3.80708 12.0061 4.03164 11.7816L7.50005 8.31316L10.9685 11.7816C11.193 12.0061 11.5571 12.0061 11.7816 11.7816C12.0062 11.557 12.0062 11.193 11.7816 10.9684L8.31322 7.49999L11.7816 4.03157Z"></path></svg>') no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

.dark input[type="search"]::-webkit-search-cancel-button {
  filter: invert(1);
}

input[type="search"].active::-webkit-search-cancel-button,
input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.3;
  pointer-events: all;
  cursor: pointer;
}

/* 
 * MARK: Controls
 */

.controls {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn {
    background: var(--color-overlay);
    color: var(--color-ui-text);
    border: none;
    width: calc(22px + 32px);
    height: calc(22px + 16px);
    padding: 8px 16px;
    border-radius: var(--border-radius);
    font-size: 14px;
    transition: background 0.2s;
    cursor: pointer;
}

.btn svg {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.btn:hover {
    background: var(--color-ui-hover);
}

.btn.active {
    background: var(--color-ui-active);
}

.btn-group {
    display: flex;
    border-radius: var(--border-radius);
    overflow: hidden;
    flex-shrink: 0;
}

.btn-group > * {
    border-radius: 0;
}

@media (max-width: 768px) {
    .main {
        gap: 0;
    }

    .navigation {
        margin-top: 0;
        flex-wrap: wrap-reverse;
    }
    
    .search-container {
        max-width: 100%;
        margin: 0;
        flex-grow: 1;
    }

    .search-container svg {
        left: 8px;
    }

    .search-input {
        padding-left: 30px !important;
    }
    
    .controls {
        width: 100%;
        justify-content: space-between;
    }
    
    .btn {
        width: calc(22px + 16px);
        min-width: calc(22px + 16px);
        padding: 8px 8px;
    }
}

.content .container {
    padding-top: 0;
}

/* 
 * MARK: Messages
 */

.message {
    text-align: center;
    padding: 60px 20px;
    color: var(--color-ui-text);
    opacity: 0.7;
}

.message h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.message p {
    font-size: 1.2em;
}

/* 
 * MARK: Loader / Spinner
 */

.loading {
    text-align: center;
    padding: 60px 20px;
    color: rgb(255, 255, 255, 0.8);
    font-size: 18px;
}

.spinner {
    border: 3px solid rgb(0, 123, 255, 0.1);
    border-top: 3px solid var(--color-primary);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 
 * MARK: GRID
 */

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

.grid.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid.cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid.cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid.cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid.cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.grid.cols-7 {
    grid-template-columns: repeat(7, 1fr);
}

.grid.cols-8 {
    grid-template-columns: repeat(8, 1fr);
}

@media (max-width: 1200px) {
    .grid.cols-7, .grid.cols-8 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 1000px) {
    .grid.cols-5, .grid.cols-6, .grid.cols-7, .grid.cols-8 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 800px) {
    .grid.cols-4, .grid.cols-5, .grid.cols-6, .grid.cols-7, .grid.cols-8 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .grid.cols-3, .grid.cols-4, .grid.cols-5, .grid.cols-6, .grid.cols-7, .grid.cols-8 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .grid.cols-2, .grid.cols-3, .grid.cols-4, .grid.cols-5, .grid.cols-6, .grid.cols-7, .grid.cols-8 {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* 
 * MARK: Tiles
 */

.tile {
    display: grid;
    position: relative;
}

.tile > a {
    color: var(--color-ui-text);
    background: var(--color-ui-bg);
    border: 1px solid var(--color-ui-border);
    border-radius: var(--border-radius-lg);
    padding: 20px;
    text-align: center;
    transition: background 0.2s, box-shadow 0.2s, outline 0.2s;
    overflow: hidden;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 5px;
    cursor: pointer;
    outline: none;
}

.tile:not(.ghost) > a:hover, 
.tile:not(.ghost) > a:focus {
    box-shadow: rgb(32, 33, 36, 0.28) 0px 1px 6px 0px;
    background: var(--color-ui-hover);
    outline: none;
}

.tile:not(.ghost) > a:focus {
    outline: 2px solid var(--color-primary);
    background: var(--color-ui-active);
}

.tile.dragging {
    outline: 2px dashed var(--color-primary);
    border-radius: var(--border-radius-lg);
}

.tile.dragging > * {
    opacity: 0;
}

.tile.dropping {
    outline: 2px dashed var(--color-primary);
    border-radius: var(--border-radius-lg);
}

.tile > a > .tile-icon {
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    margin: 0 auto 10px;
    border-radius: var(--border-radius);
    overflow: hidden;
    color: var(--color-ui-text);
}

.tile > a > .tile-icon img,
.tile > a > .tile-icon svg {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.tile > a > .tile-title {
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.tile > .tile-url {
    font-size: 12px;
    opacity: 0.5;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: none;
}

.tile > .tile-btns {
    display: none;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    z-index: 2;
    flex-direction: column;
}

.tile > .tile-btns > button {
    background: transparent;
    border: none;
    border-radius: 50%;
    padding: 4px;
    color: var(--color-ui-muted);
    cursor: pointer;
}

.tile > .tile-btns > button:hover {
    background: var(--color-overlay);
}

.tile > .tile-btns svg {
    width: 20px;
    height: 20px;
}

.tile:hover > .tile-btns {
    display: flex;
}

@media (max-width: 400px) {
    .main {
        --border-radius: 12px;
        --border-radius-lg: 12px;
    }

    .container {
        padding: 5px;
    }

    .header {
        position: sticky;
        top: 0;
        z-index: 999;
    }

    .header .container {
        padding: 0;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--color-overlay);
    }

    .navigation {
        padding: 5px;
        border: 0;
        border-radius: 0;
        background: transparent;
    }

    .controls {
        flex-flow: row-reverse;
    }

    .search-container {
        flex-grow: 0;
    }

    .btn-group {
        gap: 5px;
    }

    .btn {
        background-color: transparent;
        border-radius: var(--border-radius-lg);
    }

    .btn.search-input:focus,
    .btn.active {
        background: var(--color-overlay);
    }

    #settingsBtn {
        display: none;
    }

    .content {
        overflow: auto;
    }

    .grid {
        gap: 5px;
    }

    .tile > a {
        flex-direction: row;
        text-align: left;
        padding: 6px;
        min-height: 24px;
    }

    .tile:not(.ghost) > a:hover, 
    .tile:not(.ghost) > a:focus {
        box-shadow: none;
    }

    .tile > a > .tile-icon {
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
        margin: 0;
    }

    .tile > a:hover > .tile-title, 
    .tile > a:focus > .tile-title {
        padding-right: 60px;
    }

    .tile > .tile-url {
        text-align: right;
        display: none;
    }

    .tile > .tile-btns {
        flex-direction: row;
    }
}

/* 
 * MARK: Modals
 */

[role="dialog"] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    border: none;
    outline: none;
    z-index: 1000;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 20px 40px rgb(0, 0, 0, 0.1);
    background: var(--color-bg);
    color: var(--color-text);
    border-radius: var(--border-radius-lg);
    user-select: none;
    transition: display 0.1s allow-discrete, overlay 0.1s allow-discrete;
    animation: close 0.1s forwards;
}

[role="dialog"]::backdrop {
    background: rgb(0, 0, 0, 0.35);
    backdrop-filter: blur(5px);
    transition: display 0.1s allow-discrete, overlay 0.1s allow-discrete, opacity 0.1s;
    opacity: 0;
}

[role="dialog"][open]::backdrop {
    opacity: 1;
}

[role="dialog"][open] {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: open 0.1s forwards;
}

@keyframes open {
  from {
    transform: scale(0.9);
    opacity: 0.5;
  }
  to {
    transform: scale(1.0);
    opacity: 1;
  }
}

@keyframes close {
  from {
    transform: scale(1.0);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0.5;
  }
}

[role="dialog"] > .modal-content {
    padding: 30px 0;
    width: 100%;
}

[role="dialog"] > .modal-content > .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 20px 30px;
}

[role="dialog"] > .modal-content > .modal-header > .modal-title {
    font-size: 20px;
    font-weight: 600;
}

[role="dialog"] > .modal-content > .modal-header > .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: var(--color-muted);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background 0.2s;
    outline: none;
    cursor: pointer;
}

[role="dialog"] > .modal-content > .modal-header > .close-btn:hover,
[role="dialog"] > .modal-content > .modal-header > .close-btn:focus {
    background: var(--color-overlay);
}

[role="dialog"] > .modal-content > .modal-body {
    padding: 0 30px 0 30px;
    max-height: 80vh;
    overflow-y: auto;
}

[role="dialog"] > .modal-content > .modal-footer {
    padding: 20px 30px 0 30px;
    text-align: right;
}

/*
 * MARK: Tabs
 */

[role="tablist"] {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border-bottom: 1px solid var(--color-overlay);
    margin-bottom: 2em;
}

[role="tablist"] li, 
[role="tablist"] a {
    display: inline-block;
}

[role="tablist"] a {
    text-decoration: none;
    padding: 0.5rem 1em;
    color: var(--color-text);
    position: relative;
    top: 2px;
    border-bottom: 2px solid transparent;
    width: 100%;
    display: flex;
    gap: 5px;
}

[role="tablist"] a svg {
    width: 16px;
    height: 16px;
}

[role="tablist"] a:hover,
[role="tablist"] a:focus {
    outline: none;
    color: var(--color-primary);
}

[role="tablist"] [aria-selected] {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

[role="tabpanel"] {
    border: 0;
    padding: 0;
}

/* 
 * MARK: Forms
 */

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.form-group {
    margin: 10px 0;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    color: var(--color-muted);
    margin-top: 2em;
}

.form-group:first-child .form-label:first-child {
    margin-top: 0;
}

.form-control {
    background: var(--color-overlay);
    border: 1px solid var(--color-overlay);
    color: var(--color-text);
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    font-size: 14px;
    transition: border-color 0.2s;
}

.form-control:hover {
    border-color: var(--color-muted);
}

.form-control:focus,
.file-input:focus-within {
    outline: none;
    border-color: var(--color-primary);
}

.form-control option {
    background: var(--color-bg);
}

.file-input {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.file-input > input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-input.with-preview {
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
}

.form-control[type="color"] {
    height: 38px;
	padding: 0;
	-webkit-appearance: none;
}

.form-control[type="color"]::-webkit-color-swatch-wrapper {
    padding: 5px;
}

.form-control[type="color"]::-webkit-color-swatch {
    border-radius: 6px;
	border: none;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox {
    width: 18px;
    height: 18px;
}

.switch-label {
    flex-grow: 1;
    color: var(--color-muted);
}

.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 22px;
}

.switch > input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch > .slider {
    position: absolute;
    cursor: pointer;
    background-color: var(--color-overlay);
    border: 1px solid var(--color-overlay);
    border-radius: var(--border-radius-lg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.2s ease;
}

.switch > .slider::before {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    left: 3px;
    top: 3px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.2s ease;
    box-shadow: 0 1px 2px rgb(0,0,0,0.3);
}

.switch > input:checked + .slider {
    background-color: var(--color-primary);
}

.switch > input:checked + .slider::before {
    transform: translateX(16px);
}

.checkbox-group:hover .switch > input:checked + .slider,
.switch > input:checked + .slider:hover {
    background-color: var(--color-primary-hover);
}

.checkbox-group:hover .switch > input + .slider,
.switch > input + .slider:hover {
    border-color: var(--color-muted);
}

.switch > input:focus + .slider {
    border-color: var(--color-primary-hover);
}

/* 
 * MARK: Buttons
 */

.btn-primary,
.btn-secondary {
    padding: 10px 20px;
    border-radius: var(--border-radius-xl);
    font-size: 14px;
    transition: background 0.2s;
    color: var(--color-text);
    cursor: pointer;
}

.btn-primary {
    color: white;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.btn-primary:hover {
    background: var(--color-primary-hover);
}

.btn-secondary {
    background: transparent;
    border: 1px solid var(--color-muted);
}

.btn-secondary:hover {
    background: var(--color-overlay);
}

/*
 * MARK: Welcome modal
 */
#welcomeModal .modal-body > * {
    font-size: larger;
    text-align: justify;
}

#welcomeModal .modal-body > *:not(:last-child) {
    margin-bottom: 2em;
}

#welcomeModal .permissions {
    margin: 0 2em 2em 2em;
}

#welcomeModal .permissions label {
    margin: 0.5em 0;
}
